.navbar-brand, .navbar-menu {
    background-color: var(--bg-color-navbar);
    color: var(--text-color-navbar);
}
.navbar-item {
    color: var(--text-color-navbar);
}
.navbar {
    height: 7.5vh;
}
#settings-logo {
    height: 100%;
}
.navbar-end {
    height:100%;
}
#navbarContent {
    height:100%;
}