.navbar-brand, .navbar-menu {
    background-color: var(--bg-color-navbar);
    color: var(--text-color-navbar);
}
/* navbar items, except those in dropdown lists */
:not(.navbar-dropdown) > .navbar-item {
    color: var(--text-color-navbar);
}
/* navbar link ("logged in as x") except when dropdown is open (because then it has a white background) */
:not(.navbar-item.has-dropdown:hover) > .navbar-link {
    color: var(--text-color-navbar);
}

#settings-logo{
    content: url("../../../images/settings-light.svg");
    max-height: 40px;
}
.navbar-end {
    height:100%;
}
#navbarContent {
    height:100%;
}