/* Keep Navbar on top */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Hydragen logo in navbar */
.navbar-brand, .navbar-menu {
    background-color: var(--bg-color-navbar);
    color: var(--text-color-navbar);
}
.logo-horizontal {
    content: var(--navbar-logo-style);
    max-height: 2rem !important; /* override bulma */
}

/* navbar items, except those in dropdown lists */
.navbar-item {
    color: var(--text-color-navbar);
}
/* navbar link ("logged in as x") except when dropdown is open (because then it has a white background) */
:not(.navbar-item.has-dropdown:hover) > .navbar-link {
    color: var(--text-color-navbar);
}
/* dropdown lists */
.navbar-dropdown {
    background-color: var(--bg-color-navbar);
    color: var(--text-color-navbar);
}

/* icons */
.navbar-icon{
    font-size: 36px;
}

.navbar-end {
    height:100%;
}
#navbarContent {
    height:100%;
}