__pycache__/
.python-version
chemquest_website/static/bin/

chemquest_website/static/.pnp.*
chemquest_website/static/.yarn/*
!chemquest_website/static/.yarn/patches
!chemquest_website/static/.yarn/plugins
!chemquest_website/static/.yarn/releases
!chemquest_website/static/.yarn/sdks
!chemquest_website/static/.yarn/versions

.vscode/
.pylintrc

.venv/

fly.toml

.gitsecret/keys/random_seed
!*.secret
chemquest_website/chemquest_secrets.py
