@import "views/landing.css";
@import "views/home.css";
@import "views/tour.css";
@import "views/parsley_style.css";
@import "views/ptableSidebar.css";
@import "views/settings.css";
@import "views/components/navbar.css";
@import "views/profile.css";
@import "views/login.css";
@import "views/signup.css";
@import "views/components/settingsbar.css";
@import "views/leaderboard.css";

input.button {
    transition: all 0.25s;
}
:root {
    --padding: 10px
}
/* Themes */

/* Light theme */
html,
html[data-theme="light"] {
    color-scheme: light;
    --text-color: #22242e;
    --bg-color: #ededed;
    --inversion: 0;
    --hints-bg-color: #4690c2;
    --bg-color-navbar: #d1d1d1;
    --text-color-navbar: #1c1d26;
    --safe-color: #00a832; 
    --warning-color: #cfa902;
    --danger-color: #dc0000;
    --field-bg-color: #dddddd;
    --button-color: #00d1b2;
    --button-text-color: #fff;
    --bg-color-tour: #b4b5bc;
    --skip-button-style: url("/static/images/skip-light.svg");
    --next-button-style: url("/static/images/next-light.svg");
    --navbar-logo-style: url("/static/images/logo_horizontal_light.png");
}

/* Dark theme override */
html[data-theme="dark"] {
    color-scheme: dark;
    --text-color: #ededed;
    --bg-color: #22242e;
    --inversion: 1;
    --hints-bg-color: #3e454a;
    --bg-color-navbar: #1c1d26;
    --text-color-navbar: #d1d1d1;
    --safe-color: #00a832; 
    --warning-color: #cfa902;
    --danger-color: #f00000;
    --field-bg-color: #333a42;
    --button-color: #00d1b2; 
    --button-text-color: #fff;
    --bg-color-tour: #32333F;
    --skip-button-style: url("/static/images/skip-dark.svg");
    --next-button-style: url("/static/images/next-dark.svg");
    --navbar-logo-style: url("/static/images/logo_horizontal_dark.png");
}
/* Dark theme (system preference) */
@media (prefers-color-scheme: dark) {
    html[data-theme="auto"] {
        color-scheme: dark;
        --text-color: #ededed;
        --bg-color: #22242e;
        --inversion: 1;
        --hints-bg-color: #3e454a;
        --bg-color-navbar: #1c1d26;
        --text-color-navbar: #d1d1d1;
        --safe-color: #00a832; 
        --warning-color: #cfa902;
        --danger-color: #f00000;
        --field-bg-color: #333a42;
        --button-color: #00d1b2;
        --button-text-color: #fff;
        --bg-color-tour: #32333F;
        --skip-button-style: url("/static/images/skip-dark.svg");
        --next-button-style: url("/static/images/next-dark.svg");
        --navbar-logo-style: url("/static/images/logo_horizontal_dark.png");
    }
}

* {
    box-sizing: border-box;
}
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}
.unbounded-wrapper, .container-wrapper{
    padding-top: 52px;
}
.container-wrapper {
    height:91vh;
}
.content {
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
}
h1,h2,h3,h4,h5,p,label{
    color: var(--text-color) !important; 
}
.field{
    background-color: var(--field-bg-color);
}
.field::after {
    content: "";
    clear: both;
    display: table;
}
.invisible {
    display: none;
}
thead{
    background-color: var(--field-bg-color);
}
th{
    color: var(--text-color) !important;
}



/* For testing purposes, disable upon use */
/* .container-wrapper{
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
.container{
    border-style: solid;
    border-color: cadetblue;
    border-width: 3px;
}
.block{
    border-style: solid;
    border-color:chartreuse ;
    border-width: 3px;
}
.field{
    border-style: solid;
    border-color: bisque;
    border-width: 3px;
}
.control{
    border-style: solid;
    border-color: brown;
    border-width: 3px;
} */
