<!DOCTYPE html>
<html data-theme="">
<head>
    <title>Hydragen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@11.2.0/dist/css/shepherd.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon32x32.png') }}">
    <!-- <link rel="icon" href="{{url_for('static', filename='images/favicon.svg') }}" sizes="any" type="image/svg+xml"> -->
    <script type="text/javascript" src="https://unpkg.com/smiles-drawer@2.1.7/dist/smiles-drawer.min.js"></script>
    <script src="{{url_for('static', filename='src/libraries/settings_helpers.js')}}"></script>
</head>
<body>
    <p>Please wait, Mithril is loading...</p>
    <script src="{{url_for('static', filename='bin/app.js')}}"></script>
</body>
</html>