img#question-img {
    max-height: 237px;
}
input {
    transition: border-color 0.25s;
}
input.wrong {
    border-color: #c00;
}
input.correct {
    border-color: #0c0;
}
p#question-feedback {
    display: none;
}
p#question-feedback.is-success {
    display: block;
    color: hsl(141, 53%, 53%)
}
p#question-feedback.is-danger {
    display: block;
    color: hsl(348, 100%, 61%);
}
