.profile-block{
    padding: 5%;
}
.profile-field{
    width: 90%;
    padding: 10px;
    margin-top: 2%;
}
.profile-label{
    font-size: 18px;
    font-weight: 600;
}
#profile {
    float: left;
    margin-right: 2%;
}