.container-wrapper {
    position: relative;
}

img#question-img {
    max-height: 237px;
}
#question-feedback {
    display: none;
}
#question-feedback.is-success {
    display: block;
    color: hsl(141, 53%, 53%)
}
#question-feedback.is-danger {
    display: block;
    color: hsl(348, 100%, 61%);
}
/* ms graph styling */

.tabs ul {
    margin-left: 0px;
}

.tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}

.tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
}

.tabs-with-content .tab-content.is-active {
    display: block;
}


/* hints instruction column styling */
.hints-column {
    background: var(--hints-bg-color);
    width: 25%
}

/* radio button styling */
[name=answer] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-selected {
    background-color: silver;
    background-clip: content-box;
}


/* Skip button styles */
.move-on {
    color: var(--text-color);
}
.skip {
    content: "Skip";
}
.next {
    content: "Next";
}

/* Hints Styles*/
.green-text {
    color: var(--safe-color);
}
.yellow-text {
    color: var(--warning-color);
}
.red-text {
    color: var(--danger-color);
}

/* New Styles */
* {
    box-sizing: border-box;
}
.column-left {
    width: 80%;
    float:left
}
.column-right {
    width: 20%;
    float: left;

}
.hint-container {
    float: left;
    width: 80%;
}
.skip-container {
    float: left;
    width: 20%;
}

/* Hint tooltip style */
.answer-topbar {
    height: 5%;
    padding: var(--padding);
}
.hint-display {
    position: relative;
    display: inline-block;
}
.hint-display .tooltip{
    visibility: hidden;
    width: 40vh;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    z-index: 2;
    opacity: 0%;
}
.hint-display:hover .tooltip{
    visibility: visible;
    opacity: 100%;
    transition: opacity 0.25s;
}
/* MCQ column */
.column-right, #msQuestionForm, .container, .column-left{
    height: 99%;
}
.answer {
    height: 86%;
}
.mcq-options {
    padding: var(--padding);
    --maxHeight: calc(100%/4 - var(--padding));
    height: var(--maxHeight);
}
.radio {
    height: 100%;

}
.control img {
    height: 100%;
}
/* MCQ form styling */
.mcq-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* molecule styling */
.options {
    -webkit-filter: invert(var(--inversion));
    filter: invert(var(--inversion));
}
/* MSChart Styling */
.chartPTableContainer{
    position: relative;
    width: 100%;
    height: 90%;
    border: 1px solid #4690c2;
}

.chartContainer, .ptable {
    position: absolute;
    width:100%;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.hide{
    opacity: 0;
    z-index: -1;
}

.feedback {
    float:right;
    width: 50%;
    text-align: right;
    margin-right: 15%;
}
#switch-graph-display {
    content: "toggle between graph and periodic table";
}
.switch-graph-label {
    content: "toggle between graph and periodic table";
}
