.container-wrapper {
    position: relative;
}

img#question-img {
    max-height: 237px;
}
#question-feedback {
    display: none;
}
#question-feedback.is-success {
    display: block;
    color: hsl(141, 53%, 53%)
}
#question-feedback.is-danger {
    display: block;
    color: hsl(348, 100%, 61%);
}
/* ms graph styling */
#msChart {
    -webkit-filter: invert(var(--inversion));
    filter: invert(var(--inversion))
}

.tabs ul {
    margin-left: 0px;
}

.tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}

.tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
}

.tabs-with-content .tab-content.is-active {
    display: block;
}

/* MCQ form styling */
.mcq-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* molecule styling */
.options {
    -webkit-filter: invert(var(--inversion));
    filter: invert(var(--inversion));
}
/* hints instruction column styling */
.hints-column {
    background: var(--hints-bg-color);
    width: 25%
}

/* radio button styling */
[name=answer] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-selected {
    background-color: silver;
    background-clip: content-box;
}

.chartContainer {
    width: 75%;
}