img#question-img {
    max-height: 237px;
}
p#question-feedback {
    display: none;
}
p#question-feedback.is-success {
    display: block;
    color: hsl(141, 53%, 53%)
}
p#question-feedback.is-danger {
    display: block;
    color: hsl(348, 100%, 61%);
}

.tabs ul {
    margin-left: 0px;
}

.tabs-with-content .tabs:not(:last-child) {
    margin-bottom: 0;
}

.tabs-with-content .tab-content {
    padding: 1rem;
    display: none;
}

.tabs-with-content .tab-content.is-active {
    display: block;
}

/* MCQ form styling */
#msQuestionForm {
    position: relative;
}
.mcq-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mcq-overlay .is-hidden {
    display: none;
}

/* chart styling */
@media(min-width: 1024px) {
    .chartContainer {
        max-width: 70%;
    }
}


/* radio button styling */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-selected {
    background-color: silver;
    background-clip: content-box;
}