.settings-input{
    float: left;
    width: 2.5%;
    padding: 10px;
}
.settings-field{
    float: left;
    width: 90%;
    padding: 10px;
}
.settings-block{
    padding: 5%;

}
.settings-control{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:10px;
    border-width: 3px;
}
#theme-input{
    display: flex;
    flex-direction: column;
}
.theme1{
    background-color: black;
}